# references https://github.com/oven-sh/bun-ecosystem-ci/blob/main/.github/workflows/check.yaml
name: Bun CI

on:
    push:
        branches:
            - main
    pull_request:
        branches:
            - main

env:
    BUN_VERSION: 1.2.8

jobs:
    lint:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v4
            - uses: oven-sh/setup-bun@v2
              with:
                  bun-version: ${{ env.BUN_VERSION }}
            - run: bun install --frozen-lockfile
            - run: bun check

    test:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v4
            - uses: oven-sh/setup-bun@v2
              with:
                  bun-version: ${{ env.BUN_VERSION }}
            - run: bun install --frozen-lockfile
            - run: bun test